# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.sqlite3
local_settings.py

# Django migrations (sauf __init__.py)
**/migrations/
!**/migrations/__init__.py

# Environnements virtuels
venv/
env/
.venv/
.env/
env.bak/
venv.bak/

# Fichiers de configuration et secrets
.env
*.env
*.secrets

# Fichiers de logs
*.log
logs/
*.pot
*.cover

# Tests et coverage
.coverage
.coverage.*
.cache
.pytest_cache/
htmlcov/
.tox/
.nox/
nosetests.xml
coverage.xml

# Static & media
static/
media/

# IDEs et éditeurs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Systèmes d'exploitation
.DS_Store
Thumbs.db
desktop.ini

# Node.js (si frontend dans le même repo)
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Jupyter Notebook
.ipynb_checkpoints/

# Divers
*.bak
*.tmp
*.temp
*.swp
*.swo
